.search {
    height: 13%;
    width: 100%;
    background: grey;
}
.search div{
    display: inline-block;
}
.search input {
    width:100%;
}
.search .image {
    margin: 0px 5px;
}
.search .bar {
    width: 50%;
    background: white;
    height: 100%;
}
.menu {
    height: 12%;
    background: lightgray;
}
.menu .current{
    height: 12%;
    background: rgb(158, 151, 151);
}
.menu div {
    display: inline-block;
    width: 14%;
    background: lightgray;
}
.menu .article {
    width: 55%;
    display: inline-block;
    height: 10%;
}
.menu a {
    text-decoration: none;
    color: black;
}
.gallery {
    width:90%;
    height:300px;
    margin: 5px auto;
}
.pos {
    height: 49%;
    margin:0.5%;

}
.pos img {
    width: 100%;
}
.start {
    width:48%;
    height:100%;
    display: inline-block;
    margin: 0.5%;
}
.start img {
    height: 100%;
}
.middle {
    margin: 5px auto;
    width: 90%;
}
.middle > div {
    width: 100%;
    margin: 5px;
}
.main {
    width: 45%;
    display: inline-block;
    height: 100%;
    overflow: hidden;
}
.main img {
    margin: 5px auto;
    width: 25%;
    height: 25%;
    display: block;
}
.main div {
    width: 100%;
    margin: 5px auto;
    text-align: center;
}
.main a {
    font-weight: bold;
}
.footer {
    width: 100%;
    background: grey;
    margin: 10px 0px;
}
.footer .name {
    width: 85%;
    display: inline-block;
}
.footer .contacts {
    display: inline-block;
}
