block variables
- var pageData = {
-   title: "Сочинская Олимпиада",
-   image: {
-     src: require("./images/list1.jpg"),
-     alt: "Картинка с эмблемой Олимпиады в Сочи"
-   },
-   paragraphs: [
-     "Зи́мние Олимпи́йские и́гры 2014 (англ. 2014 Winter Olympics, фр. Jeux Olympiques d'hiver de 2014, официальное название XXII Зи́мние Олимпи́йские и́гры) — международное спортивное мероприятие, проходившее в российском городе Сочи (Адлер) с 7 по 23 февраля 2014 года. Столица Олимпийских игр 2014 была выбрана во время 119-й сессии МОК в Гватемале 4 июля 2007 года. На территории России Олимпийские игры прошли во второй раз (до этого в Москве в 1980 году прошли летние Олимпийские игры), и впервые — зимние игры. По окончании Олимпийских игр на тех же объектах были проведены зимние Паралимпийские игры.",
-     "Игры в Сочи являются двадцать вторыми (XXII) зимними по счёту (символично, что двадцать вторыми летними были и Игры 1980 года в Москве). По сравнению с Играми 2010 года в Ванкувере количество соревнований в различных дисциплинах увеличено на 12, в общей сложности было разыграно 98 комплектов медалей.",
-     "В преддверии и во время Игр, в соседнем с Россией государстве — Украине — разворачивались драматичные политические события, серьёзно изменившие ситуацию в мире: длившийся три месяца Евромайдан (c 21.11.2013), отстранение президента (22.02.2014) и начало крымского кризиса (20.02.2014). Это повлияло на восприятие сочинской Олимпиады-2014 и память о ней."
-   ]
- }
- var olympics  = [
-   { number: 'XXXIII', season: 'Летние', year: 2024, city: 'Париж', startDate: '26.07.2024', endDate: '11.08.2024', athletes: 10714, countries: 206, sports: 32 },
-   { number: 'XXXII', season: 'Летние', year: 2020, city: 'Токио', startDate: '23.07.2020', endDate: '08.08.2020', athletes: 11656, countries: 205, sports: 33 },
-   { number: 'XXXI', season: 'Летние', year: 2016, city: 'Рио-де-Жанейро', startDate: '05.08.2016', endDate: '21.08.2016', athletes: 11000, countries: 207, sports: 33 },
-   { number: 'XXX', season: 'Летние', year: 2012, city: 'Лондон', startDate: '27.07.2012', endDate: '12.08.2012', athletes: 10919, countries: 205, sports: 33 },
-   { number: 'XXIX', season: 'Летние', year: 2008, city: 'Пекин', startDate: '08.08.2008', endDate: '24.08.2008', athletes: 10903, countries: 204, sports: 34 },
-   { number: 'XXVIII', season: 'Летние', year: 2004, city: 'Афины', startDate: '13.08.2004', endDate: '29.08.2004', athletes: 10558, countries: 201, sports: 34 },
-   { number: 'XXVII', season: 'Летние', year: 2000, city: 'Сидней', startDate: '15.09.2000', endDate: '01.10.2000', athletes: 10647, countries: 200, sports: 34 },
-   { number: 'XXVI', season: 'Летние', year: 1996, city: 'Атланта', startDate: '19.07.1996', endDate: '04.08.1996', athletes: 10329, countries: 197, sports: 31 },
-   { number: 'XXV', season: 'Летние', year: 1992, city: 'Барселона', startDate: '25.07.1992', endDate: '09.08.1992', athletes: 9385, countries: 169, sports: 29 },
-   { number: 'XXIV', season: 'Летние', year: 1988, city: 'Сеул', startDate: '17.09.1988', endDate: '02.10.1988', athletes: 8453, countries: 159, sports: 27 },
-   { number: 'XXIII', season: 'Летние', year: 1984, city: 'Лос Анджелес', startDate: '28.07.1984', endDate: '12.08.1984', athletes: 6794, countries: 140, sports: 25 },
-   { number: 'XXII', season: 'Летние', year: 1980, city: 'Москва', startDate: '19.07.1980', endDate: '03.08.1980', athletes: 5253, countries: 80, sports: 23 },
-   { number: 'XXI', season: 'Летние', year: 1976, city: 'Монреаль', startDate: '17.07.1976', endDate: '01.08.1976', athletes: 6071, countries: 92, sports: 23 },
-   { number: 'XX', season: 'Летние', year: 1972, city: 'Мюнхен', startDate: '26.08.1972', endDate: '11.09.1972', athletes: 7113, countries: 121, sports: 23 },
-   { number: 'XIX', season: 'Летние', year: 1968, city: 'Мехико', startDate: '12.10.1968', endDate: '27.10.1968', athletes: 5553, countries: 112, sports: 20 },
-   { number: 'XVIII', season: 'Летние', year: 1964, city: 'Токио', startDate: '11.10.1964', endDate: '24.10.1964', athletes: 5136, countries: 93, sports: 21 },
-   { number: 'XVII', season: 'Летние', year: 1960, city: 'Рим', startDate: '25.08.1964', endDate: '11.09.1964', athletes: 5349, countries: 83, sports: 19 },
-   { number: 'XVI', season: 'Летние', year: 1956, city: 'Мельбурн', startDate: '22.11.1956', endDate: '08.12.1956', athletes: 3345, countries: 67, sports: 18 },
-   { number: 'XV', season: 'Летние', year: 1952, city: 'Хельсинки', startDate: '14.07.1952', endDate: '03.08.1952', athletes: 4931, countries: 69, sports: 19 },
-   { number: 'XIV', season: 'Летние', year: 1948, city: 'Лондон', startDate: '29.07.1948', endDate: '14.08.1948', athletes: 4369, countries: 59, sports: 19 },
-   { number: 'XI', season: 'Летние', year: 1936, city: 'Берлин', startDate: '01.08.1936', endDate: '16.08.1936', athletes: 3955, countries: 49, sports: 21 },
-   { number: 'X', season: 'Летние', year: 1932, city: 'Лос Анджелес', startDate: '30.07.1932', endDate: '14.08.1932', athletes: 1329, countries: 37, sports: 16 },
-   { number: 'IX', season: 'Летние', year: 1928, city: 'Амстердам', startDate: '17.05.1928', endDate: '12.08.1928', athletes: 2868, countries: 46, sports: 16 },
-   { number: 'VIII', season: 'Летние', year: 1924, city: 'Париж', startDate: '05.07.1924', endDate: '27.07.1924', athletes: 3066, countries: 44, sports: 19 },
-   { number: 'VII', season: 'Летние', year: 1920, city: 'Антверпен', startDate: '14.08.1920', endDate: '30.08.1920', athletes: 2675, countries: 29, sports: 24 },
-   { number: 'V', season: 'Летние', year: 1912, city: 'Стокгольм', startDate: '05.05.1912', endDate: '27.07.1912', athletes: 2409, countries: 27, sports: 16 },
-   { number: 'IV', season: 'Летние', year: 1908, city: 'Лондон', startDate: '27.04.1908', endDate: '31.10.1908', athletes: 2024, countries: 22, sports: 24 },
-   { number: 'III', season: 'Летние', year: 1904, city: 'Сент Луис', startDate: '14.05.1904', endDate: '23.11.1904', athletes: 649, countries: 13, sports: 18 },
-   { number: 'II', season: 'Летние', year: 1900, city: 'Париж', startDate: '14.05.1900', endDate: '28.10.1900', athletes: 1218, countries: 28, sports: 20 },
-   { number: 'I', season: 'Летние', year: 1896, city: 'Афины', startDate: '06.04.1896', endDate: '15.04.1896', athletes: 246, countries: 12, sports: 9 },
-   { number: 'XXXIV', season: 'Зимние', year: 2022, city: 'Пекин', startDate: '04.02.2022', endDate: '20.08.2022', athletes: 2871, countries: 91, sports: 15 },
-   { number: 'XXIII', season: 'Зимние', year: 2018, city: 'Пхёнчхан', startDate: '09.02.2018', endDate: '25.02.2018', athletes: 2952, countries: 92, sports: 15 },
-   { number: 'XXII', season: 'Зимние', year: 2014, city: 'Сочи', startDate: '07.02.2014', endDate: '23.02.2014', athletes: 2876, countries: 88, sports: 15 },
-   { number: 'XXI', season: 'Зимние', year: 2010, city: 'Ванкувер', startDate: '12.02.2010', endDate: '28.02.2010', athletes: 2536, countries: 82, sports: 15 },
-   { number: 'XX', season: 'Зимние', year: 2006, city: 'Турин', startDate: '11.02.2006', endDate: '26.02.2006', athletes: 2494, countries: 79, sports: 15 },
-   { number: 'XIX', season: 'Зимние', year: 2002, city: 'Солт Лейк Сити', startDate: '08.02.2002', endDate: '24.02.2002', athletes: 2399, countries: 77, sports: 15 },
-   { number: 'XVIII', season: 'Зимние', year: 1998, city: 'Нагано', startDate: '07.02.1998', endDate: '22.02.1998', athletes: 2180, countries: 72, sports: 14 },
-   { number: 'XVII', season: 'Зимние', year: 1994, city: 'Лиллехаммер', startDate: '12.02.1994', endDate: '27.02.1994', athletes: 1738, countries: 67, sports: 12 },
-   { number: 'XVI', season: 'Зимние', year: 1992, city: 'Альбервиль', startDate: '08.02.1992', endDate: '23.02.1992', athletes: 1801, countries: 64, sports: 12 },
-   { number: 'XV', season: 'Зимние', year: 1988, city: 'Калгари', startDate: '13.02.1988', endDate: '28.02.1988', athletes: 1425, countries: 57, sports: 10 },
-   { number: 'XIV', season: 'Зимние', year: 1984, city: 'Сараево', startDate: '08.02.1984', endDate: '19.02.1984', athletes: 1273, countries: 49, sports: 10 },
-   { number: 'XIII', season: 'Зимние', year: 1980, city: 'Лейк Плэсид', startDate: '13.02.1980', endDate: '24.02.1980', athletes: 1072, countries: 37, sports: 10 },
-   { number: 'XII', season: 'Зимние', year: 1976, city: 'Инсбрук', startDate: '04.02.1976', endDate: '15.02.1976', athletes: 1129, countries: 37, sports: 10 },
-   { number: 'XI', season: 'Зимние', year: 1972, city: 'Саппоро', startDate: '03.02.1972', endDate: '13.02.1972', athletes: 1008, countries: 35, sports: 10 },
-   { number: 'X', season: 'Зимние', year: 1968, city: 'Гренобль', startDate: '05.02.1968', endDate: '18.02.1968', athletes: 1158, countries: 37, sports: 10 },
-   { number: 'IX', season: 'Зимние', year: 1964, city: 'Инсбрук', startDate: '27.01.1964', endDate: '09.02.1964', athletes: 1094, countries: 36, sports: 10 },
-   { number: 'VIII', season: 'Зимние', year: 1960, city: 'Скво Велли', startDate: '19.02.1960', endDate: '28.02.1960', athletes: 665, countries: 30, sports: 8 },
-   { number: 'VII', season: 'Зимние', year: 1956, city: 'Кортина д`Ампеццо', startDate: '26.01.1956', endDate: '05.02.1956', athletes: 821, countries: 32, sports: 8 },
-   { number: 'VI', season: 'Зимние', year: 1952, city: 'Осло', startDate: '14.02.1952', endDate: '25.02.1952', athletes: 693, countries: 30, sports: 8 },
-   { number: 'V', season: 'Зимние', year: 1948, city: 'Санкт Мориц', startDate: '30.01.1948', endDate: '08.02.1948', athletes: 668, countries: 28, sports: 9 },
-   { number: 'IV', season: 'Зимние', year: 1936, city: 'Гармиш Партенкирхен', startDate: '06.02.1936', endDate: '16.02.1936', athletes: 668, countries: 28, sports: 8 },
-   { number: 'III', season: 'Зимние', year: 1932, city: 'Лейк Плесид', startDate: '04.02.1930', endDate: '15.02.1932', athletes: 252, countries: 17, sports: 7 },
-   { number: 'II', season: 'Зимние', year: 1928, city: 'Санкт Мориц', startDate: '11.02.1928', endDate: '19.02.1928', athletes: 464, countries: 25, sports: 8 },
-   { number: 'I', season: 'Зимние', year: 1924, city: 'Шамони', startDate: '24.01.1924', endDate: '05.02.1924', athletes: 301, countries: 16, sports: 9 }
- ]