header.menu
  .menu__name
    a.menu__link(href="#") Олимпиады
  .menu__list
    .menu__item.menu__item--current
      a.menu__link(href="index.html") Олимпийские игры последних 10 лет
    .menu__item
      a.menu__link(href="building.html") Сочинская Олимпиада
    .menu__item
      a.menu__link(href="table.html") Хронология олимпийских игр
